<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Controllers.Properties.Settings.cinedbConnectionString"
            connectionString="Data Source=34.74.3.129;Database=cinedb;Uid=sqlserver;Pwd=admin123!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>