<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.cinedbConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=cinedb;User ID=sa;Password=admin123!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>