USE [master]
GO
/****** Object:  Database [cinedb]    Script Date: 22/1/2023 23:30:02 ******/
CREATE DATABASE [cinedb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cinedb', FILENAME = N'/var/opt/mssql/data/cinedb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cinedb_log', FILENAME = N'/var/opt/mssql/data/cinedb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cinedb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cinedb]
GO
/****** Object:  Table [dbo].[Funcion]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[funcion_pelicula] [int] NOT NULL,
	[funcion_sala] [int] NOT NULL,
	[funcion_fecha_evento] [date] NOT NULL,
	[funcion_horario] [int] NOT NULL,
	[funcion_estado] [nvarchar](25) NOT NULL,
	[funcion_precio_boleto] [decimal](18, 0) NOT NULL,
	[funcion_fecha_creacion] [date] NOT NULL,
	[funcion_idioma] [int] NULL,
	[funcion_asientos_disponibles] [int] NULL,
 CONSTRAINT [PK_Funcion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pelicula_titulo] [nvarchar](50) NOT NULL,
	[pelicula_titulo_original] [nvarchar](50) NOT NULL,
	[pelicula_duracion] [nvarchar](50) NOT NULL,
	[pelicula_tipo_censura] [nvarchar](50) NOT NULL,
	[pelicula_sinopsis] [nvarchar](255) NOT NULL,
	[pelicula_director] [nvarchar](50) NOT NULL,
	[pelicula_reparto] [nvarchar](255) NOT NULL,
	[pelicula_url_trailer] [nvarchar](255) NOT NULL,
	[pelicula_imagen] [varbinary](max) NULL,
 CONSTRAINT [PK_Pelicula] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_cedula] [nvarchar](50) NULL,
	[cliente_apellidos] [nvarchar](50) NULL,
	[cliente_nombres] [nvarchar](50) NULL,
	[cliente_telefono] [nvarchar](50) NULL,
	[cliente_email] [nvarchar](50) NULL,
	[cliente_direccion] [nvarchar](50) NULL,
	[cliente_usuario] [int] NOT NULL,
	[cliente_imagen] [image] NULL,
 CONSTRAINT [PK_tb_cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[factura_cliente] [int] NULL,
	[factura_funcion] [int] NULL,
	[factura_numero] [varchar](50) NULL,
	[factura_estado] [varchar](50) NULL,
	[factura_metodo_pago] [varchar](25) NULL,
	[factura_fecha_emision] [date] NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horarios]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[horario_inicio] [time](7) NOT NULL,
	[horario_fin] [time](7) NOT NULL,
 CONSTRAINT [PK_Horario_Sala] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idiomas]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idiomas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idioma_descripcion] [nvarchar](25) NOT NULL,
	[idioma_abreviatura] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Idiomas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala_Cine]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala_Cine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sala_nombre] [nvarchar](10) NOT NULL,
	[sala_capacidad_maxima] [int] NOT NULL,
 CONSTRAINT [PK_Sala_cine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_FacturaDatos]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- VISTAS

CREATE VIEW [dbo].[Vista_FacturaDatos]
AS
SELECT dbo.Factura.id,
       dbo.Cliente.cliente_cedula,
       dbo.Cliente.cliente_apellidos,
       dbo.Cliente.cliente_nombres,
       dbo.Cliente.cliente_telefono,
       dbo.Cliente.cliente_email,
       dbo.Cliente.cliente_direccion,
       dbo.Factura.factura_numero,
       dbo.Factura.factura_fecha_emision,
       dbo.Factura.factura_metodo_pago,
       dbo.Funcion.funcion_fecha_evento,
       dbo.Funcion.funcion_precio_boleto,
       dbo.Sala_Cine.sala_nombre,
       dbo.Horarios.horario_inicio,
       dbo.Idiomas.idioma_abreviatura,
       dbo.Pelicula.pelicula_titulo,
       dbo.Pelicula.pelicula_tipo_censura,
       dbo.Pelicula.pelicula_duracion
FROM dbo.Factura
         INNER JOIN dbo.Cliente ON dbo.Factura.factura_cliente = dbo.Cliente.id
         INNER JOIN dbo.Funcion ON dbo.Factura.factura_funcion = dbo.Funcion.id
         INNER JOIN dbo.Pelicula ON dbo.Funcion.funcion_pelicula = dbo.Pelicula.id
         INNER JOIN dbo.Idiomas ON dbo.Funcion.funcion_idioma = dbo.Idiomas.id
         INNER JOIN dbo.Sala_Cine ON dbo.Funcion.funcion_sala = dbo.Sala_Cine.id
         INNER JOIN dbo.Horarios ON dbo.Funcion.funcion_horario = dbo.Horarios.id;
GO
/****** Object:  View [dbo].[Vista_FacturaFuncion]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vista_FacturaFuncion]
AS
SELECT dbo.Factura.id,
       dbo.Factura.factura_funcion,
       dbo.Factura.factura_cliente,
       dbo.Factura.factura_numero,
       dbo.Factura.factura_fecha_emision,
       dbo.Funcion.funcion_precio_boleto,
       dbo.Funcion.funcion_fecha_evento,
       dbo.Pelicula.pelicula_titulo,
       dbo.Idiomas.idioma_abreviatura,
       dbo.Horarios.horario_inicio
FROM dbo.Factura
         INNER JOIN dbo.Cliente ON dbo.Factura.factura_cliente = dbo.Cliente.id
         INNER JOIN dbo.Funcion ON dbo.Factura.factura_funcion = dbo.Funcion.id
         INNER JOIN dbo.Pelicula ON dbo.Funcion.funcion_pelicula = dbo.Pelicula.id
         INNER JOIN dbo.Idiomas ON dbo.Funcion.funcion_idioma = dbo.Idiomas.id
         INNER JOIN dbo.Sala_Cine ON dbo.Funcion.funcion_sala = dbo.Sala_Cine.id
         INNER JOIN dbo.Horarios ON dbo.Funcion.funcion_horario = dbo.Horarios.id;
GO
/****** Object:  View [dbo].[Vista_FacturaAdmin]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vista_FacturaAdmin]
AS
SELECT dbo.Factura.id,
       dbo.Factura.factura_numero,
       dbo.Factura.factura_fecha_emision,
       dbo.Factura.factura_estado,
       dbo.Cliente.cliente_nombres,
       dbo.Cliente.cliente_apellidos,
       dbo.Funcion.funcion_precio_boleto,
       dbo.Pelicula.pelicula_titulo
FROM dbo.Factura
         INNER JOIN dbo.Cliente ON dbo.Factura.factura_cliente = dbo.Cliente.id
         INNER JOIN dbo.Funcion ON dbo.Factura.factura_funcion = dbo.Funcion.id
         INNER JOIN dbo.Pelicula ON dbo.Funcion.funcion_pelicula = dbo.Pelicula.id;
GO
/****** Object:  View [dbo].[V_PeliculaP]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_PeliculaP]
AS
SELECT dbo.Pelicula.id,
       dbo.Pelicula.pelicula_titulo,
       dbo.Pelicula.pelicula_titulo_original,
       dbo.Pelicula.pelicula_duracion,
       dbo.Pelicula.pelicula_tipo_censura,
       dbo.Pelicula.pelicula_director
FROM [dbo].[Pelicula];
GO
/****** Object:  View [dbo].[Vista_FuncionesActivas]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_FuncionesActivas]
AS
SELECT dbo.Funcion.id as id,
       dbo.Funcion.funcion_pelicula,
       dbo.Pelicula.pelicula_titulo,
       dbo.Pelicula.pelicula_titulo_original,
       dbo.Pelicula.pelicula_duracion,
       dbo.Pelicula.pelicula_tipo_censura,
       dbo.Pelicula.pelicula_url_trailer,
       dbo.Pelicula.pelicula_sinopsis,
       dbo.Pelicula.pelicula_director,
       dbo.Pelicula.pelicula_reparto,
       dbo.Funcion.funcion_estado,
       dbo.Funcion.funcion_precio_boleto,
       dbo.Funcion.funcion_asientos_disponibles,
       dbo.Funcion.funcion_fecha_creacion,
       dbo.Sala_Cine.sala_nombre,
       dbo.Idiomas.idioma_abreviatura,
       dbo.Idiomas.idioma_descripcion,
       dbo.Horarios.horario_inicio,
       dbo.Pelicula.pelicula_imagen,
       dbo.Funcion.funcion_fecha_evento
FROM dbo.Funcion
         INNER JOIN
     dbo.Pelicula ON dbo.Funcion.funcion_pelicula = dbo.Pelicula.id
         INNER JOIN
     dbo.Idiomas ON dbo.Funcion.funcion_idioma = dbo.Idiomas.id
         INNER JOIN
     dbo.Sala_Cine ON dbo.Funcion.funcion_sala = dbo.Sala_Cine.id
         INNER JOIN
     dbo.Horarios ON dbo.Funcion.funcion_horario = dbo.Horarios.id
GO
/****** Object:  View [dbo].[Vista_Funciones]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Funciones]
AS
SELECT dbo.Pelicula.id AS id_pelicula,
       dbo.Pelicula.pelicula_titulo,
       dbo.Pelicula.pelicula_titulo_original,
       dbo.Pelicula.pelicula_tipo_censura,
       dbo.Pelicula.pelicula_duracion,
       dbo.Pelicula.pelicula_url_trailer,
       dbo.Funcion.funcion_estado
FROM dbo.Funcion
         INNER JOIN
     dbo.Pelicula ON dbo.Funcion.funcion_pelicula = dbo.Pelicula.id
GROUP BY dbo.Pelicula.id, dbo.Pelicula.pelicula_titulo, dbo.Pelicula.pelicula_titulo_original,
         dbo.Pelicula.pelicula_tipo_censura, dbo.Pelicula.pelicula_duracion, dbo.Pelicula.pelicula_url_trailer,
         dbo.Funcion.funcion_estado
GO
/****** Object:  Table [dbo].[Banco]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banco](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[banco_nombre] [nvarchar](25) NOT NULL,
	[banco_estado] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boleto]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boleto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[boleto_factura] [int] NOT NULL,
	[boleto_funcion] [int] NOT NULL,
	[boleto_asiento] [nchar](5) NOT NULL,
	[boleto_tipo_asiento] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Boleto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_categoria] [nvarchar](25) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_nombres] [nvarchar](50) NULL,
	[empleado_cedula] [nvarchar](50) NULL,
	[empleado_apellidos] [nvarchar](50) NULL,
	[empleado_telefono] [nvarchar](50) NULL,
	[empleado_email] [nvarchar](50) NULL,
	[empleado_direccion] [nvarchar](50) NULL,
	[empleado_usuario] [int] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empresa_razon_social] [nvarchar](50) NOT NULL,
	[empresa_numero_contribuyente] [nvarchar](25) NOT NULL,
	[empresa_numero_autorizacion] [nvarchar](25) NOT NULL,
	[empresa_direccion] [nvarchar](25) NOT NULL,
	[empresa_telefono] [nvarchar](25) NOT NULL,
	[empresa_email] [nvarchar](25) NOT NULL,
	[empresa_website] [nvarchar](25) NOT NULL,
	[empresa_ambiente] [nvarchar](25) NOT NULL,
	[empresa_contabilidad] [bit] NOT NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil_Usuario]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil_Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[perfil_usuario_nombre] [nvarchar](25) NULL,
 CONSTRAINT [PK_Perfil_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[permiso_nombre] [nvarchar](25) NOT NULL,
	[permiso_descripcion] [nvarchar](25) NULL,
 CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rel_Pelicula_Categoria]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rel_Pelicula_Categoria](
	[id_Pelicula] [int] NULL,
	[id_Categoria] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rel_perfil_permisos]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rel_perfil_permisos](
	[id_perfil] [int] NOT NULL,
	[id_permiso] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarjetas]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjetas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tarjeta_cliente] [int] NOT NULL,
	[tarjeta_tipo] [nvarchar](50) NOT NULL,
	[tarjeta_banco] [int] NOT NULL,
	[tarjeta_numero] [nchar](16) NOT NULL,
	[tarjeta_ccv] [nvarchar](50) NOT NULL,
	[tarjeta_ano] [int] NOT NULL,
	[tarjeta_mes] [nvarchar](50) NOT NULL,
	[tarjeta_propietario] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tarjetas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_username] [nvarchar](25) NOT NULL,
	[usuario_password] [nvarchar](25) NOT NULL,
	[usuario_perfil] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Boleto]  WITH CHECK ADD  CONSTRAINT [FK_Boleto_Factura] FOREIGN KEY([boleto_factura])
REFERENCES [dbo].[Factura] ([id])
GO
ALTER TABLE [dbo].[Boleto] CHECK CONSTRAINT [FK_Boleto_Factura]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Usuario] FOREIGN KEY([cliente_usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Usuario]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Usuario] FOREIGN KEY([empleado_usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Usuario]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Cliente] FOREIGN KEY([factura_cliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Cliente]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Funcion] FOREIGN KEY([factura_funcion])
REFERENCES [dbo].[Funcion] ([id])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Funcion]
GO
ALTER TABLE [dbo].[Funcion]  WITH CHECK ADD  CONSTRAINT [FK_Funcion_Horarios] FOREIGN KEY([funcion_horario])
REFERENCES [dbo].[Horarios] ([id])
GO
ALTER TABLE [dbo].[Funcion] CHECK CONSTRAINT [FK_Funcion_Horarios]
GO
ALTER TABLE [dbo].[Funcion]  WITH CHECK ADD  CONSTRAINT [FK_Funcion_Idiomas] FOREIGN KEY([funcion_idioma])
REFERENCES [dbo].[Idiomas] ([id])
GO
ALTER TABLE [dbo].[Funcion] CHECK CONSTRAINT [FK_Funcion_Idiomas]
GO
ALTER TABLE [dbo].[Funcion]  WITH CHECK ADD  CONSTRAINT [FK_Funcion_Pelicula] FOREIGN KEY([funcion_pelicula])
REFERENCES [dbo].[Pelicula] ([id])
GO
ALTER TABLE [dbo].[Funcion] CHECK CONSTRAINT [FK_Funcion_Pelicula]
GO
ALTER TABLE [dbo].[Funcion]  WITH CHECK ADD  CONSTRAINT [FK_Funcion_Sala_Cine] FOREIGN KEY([funcion_sala])
REFERENCES [dbo].[Sala_Cine] ([id])
GO
ALTER TABLE [dbo].[Funcion] CHECK CONSTRAINT [FK_Funcion_Sala_Cine]
GO
ALTER TABLE [dbo].[rel_Pelicula_Categoria]  WITH CHECK ADD  CONSTRAINT [FK_rel_Pelicula_Categoria_Categoria] FOREIGN KEY([id_Categoria])
REFERENCES [dbo].[Categoria] ([id])
GO
ALTER TABLE [dbo].[rel_Pelicula_Categoria] CHECK CONSTRAINT [FK_rel_Pelicula_Categoria_Categoria]
GO
ALTER TABLE [dbo].[rel_Pelicula_Categoria]  WITH CHECK ADD  CONSTRAINT [FK_rel_Pelicula_Categoria_Pelicula] FOREIGN KEY([id_Pelicula])
REFERENCES [dbo].[Pelicula] ([id])
GO
ALTER TABLE [dbo].[rel_Pelicula_Categoria] CHECK CONSTRAINT [FK_rel_Pelicula_Categoria_Pelicula]
GO
ALTER TABLE [dbo].[rel_perfil_permisos]  WITH CHECK ADD  CONSTRAINT [FK_rel_perfil_permisos_Perfil_Usuario] FOREIGN KEY([id_perfil])
REFERENCES [dbo].[Perfil_Usuario] ([id])
GO
ALTER TABLE [dbo].[rel_perfil_permisos] CHECK CONSTRAINT [FK_rel_perfil_permisos_Perfil_Usuario]
GO
ALTER TABLE [dbo].[rel_perfil_permisos]  WITH CHECK ADD  CONSTRAINT [FK_rel_perfil_permisos_Permisos] FOREIGN KEY([id_permiso])
REFERENCES [dbo].[Permisos] ([id])
GO
ALTER TABLE [dbo].[rel_perfil_permisos] CHECK CONSTRAINT [FK_rel_perfil_permisos_Permisos]
GO
ALTER TABLE [dbo].[Tarjetas]  WITH CHECK ADD  CONSTRAINT [FK_Tarjetas_Cliente] FOREIGN KEY([tarjeta_cliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Tarjetas] CHECK CONSTRAINT [FK_Tarjetas_Cliente]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil_Usuario] FOREIGN KEY([usuario_perfil])
REFERENCES [dbo].[Perfil_Usuario] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Perfil_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarCliente]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarCliente] @id int,
                                      @cliente_cedula varchar(50),
                                      @cliente_apellidos varchar(50),
                                      @cliente_nombres varchar(50),
                                      @cliente_telefono varchar(50),
                                      @cliente_email varchar(50),
                                      @cliente_direccion varchar(50)
AS
BEGIN
    UPDATE [Cliente]
    set [cliente_cedula]    = @cliente_cedula,
        [cliente_apellidos] = @cliente_apellidos,
        [cliente_nombres]   = @cliente_nombres,
        [cliente_telefono]  = @cliente_telefono,
        [cliente_email]     = @cliente_email,
        [cliente_direccion] = @cliente_direccion
    OUTPUT 'CORRECTO' AS 'RESPONSE'
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarEmpleado]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarEmpleado] @id int,
                                       @empleado_nombres nvarchar(50),
                                       @empleado_cedula nvarchar(50),
                                       @empleado_apellidos nvarchar(50),
                                       @empleado_telefono nvarchar(50),
                                       @empleado_email nvarchar(50),
                                       @empleado_direccion nvarchar(50),
                                       @empleado_usuario int
AS
BEGIN
    UPDATE [Empleado]
    set empleado_nombres   = @empleado_nombres,
        empleado_apellidos = @empleado_apellidos,
        empleado_cedula    = @empleado_cedula,
        empleado_telefono  = @empleado_telefono,
        empleado_email     = @empleado_email,
        empleado_direccion = @empleado_direccion,
        empleado_usuario   = @empleado_usuario
    OUTPUT 'CORRECTO' AS 'RESPONSE'
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarFactura]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarFactura] @id int,
                                      @factura_cliente int,
                                      @factura_funcion int,
                                      @factura_metodo_pago varchar(25),
                                      @factura_fecha_emision date,
                                      @factura_estado varchar(25)
AS
BEGIN
    UPDATE [Factura]
    set factura_cliente       = @factura_cliente,
        factura_funcion       = @factura_funcion,
        factura_metodo_pago   = @factura_metodo_pago,
        factura_fecha_emision = @factura_fecha_emision,
        factura_estado        = @factura_estado
    OUTPUT 'CORRECTO' AS 'RESPONSE'
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarFuncion]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarFuncion] @id int,
                                      @funcion_pelicula int,
                                      @funcion_sala int,
                                      @funcion_fecha_evento date,
                                      @funcion_horario int,
                                      @funcion_estado nvarchar(25),
                                      @funcion_precio_boleto decimal(18, 0),
                                      @funcion_fecha_creacion date,
                                      @funcion_idioma int,
                                      @funcion_asientos_disponibles int
AS
BEGIN
    UPDATE [Funcion]
    set funcion_pelicula             = @funcion_pelicula,
        funcion_sala                 = @funcion_sala,
        funcion_fecha_evento         = @funcion_fecha_evento,
        funcion_horario              = @funcion_horario,
        funcion_estado               = @funcion_estado,
        funcion_precio_boleto        = @funcion_precio_boleto,
        funcion_fecha_creacion       = @funcion_fecha_creacion,
        funcion_idioma               = @funcion_idioma,
        funcion_asientos_disponibles = @funcion_asientos_disponibles
    OUTPUT 'CORRECTO' AS 'RESPONSE'
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarHorario]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarHorario] @id int,
                                      @hora_inicio time(7),
                                      @hora_fin time(7)
AS
BEGIN
    UPDATE [Horarios]
    set horario_inicio = @hora_inicio,
        horario_fin    = @hora_fin
    OUTPUT 'CORRECTO' AS 'RESPONSE'
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarImagenCliente]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarImagenCliente] @id int,
                                             @imagen varbinary(max)
AS
BEGIN
    UPDATE Cliente
    SET cliente_imagen = @imagen
    OUTPUT 'CORRECTO' AS 'RESPONSE'
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarImagenPelicula]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarImagenPelicula] @id int,
                                             @imagen varbinary(max)
AS
BEGIN
    UPDATE Pelicula
    SET pelicula_imagen = @imagen
    OUTPUT 'CORRECTO' AS 'RESPONSE'
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarPelicula]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarPelicula] @id int,
                                       @pelicula_titulo nvarchar(50),
                                       @pelicula_titulo_original nvarchar(50),
                                       @pelicula_duracion nvarchar(50),
                                       @pelicula_tipo_censura nvarchar(50),
                                       @pelicula_sinopsis nvarchar(255),
                                       @pelicula_director nvarchar(50),
                                       @pelicula_reparto nvarchar(255),
                                       @pelicula_url_trailer nvarchar(255),
                                       @pelicula_imagen varbinary(max)
AS
BEGIN
    UPDATE [Pelicula]
    set pelicula_titulo          = @pelicula_titulo,
        pelicula_titulo_original = @pelicula_titulo_original,
        pelicula_duracion        = @pelicula_duracion,
        pelicula_tipo_censura    = @pelicula_tipo_censura,
        pelicula_sinopsis        = @pelicula_sinopsis,
        pelicula_director        = @pelicula_director,
        pelicula_reparto         = @pelicula_reparto,
        pelicula_url_trailer     = @pelicula_url_trailer,
        pelicula_imagen          = @pelicula_imagen
    OUTPUT 'CORRECTO' AS 'RESPONSE'
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarUsuario]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarUsuario] @id int,
                                      @usuario_username nvarchar(25),
                                      @usuario_password nvarchar(25),
                                      @usuario_perfil int
AS
BEGIN
    UPDATE [Usuario]
    set usuario_username = @usuario_username,
        usuario_password = @usuario_password,
        usuario_perfil   = @usuario_perfil
    OUTPUT 'CORRECTO' AS 'RESPONSE'
    WHERE [id] = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BancosActivos]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BancosActivos]
AS
BEGIN
    SELECT *
    FROM dbo.Banco
    WHERE Banco.banco_estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BoletosCliente]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BoletosCliente](
    @idCliente int
)
AS
BEGIN
    /* Selecciona un grupo de boletos */
    SELECT [Boleto].*
    FROM [Boleto]
/* Cuando la factura del boleto, 
corresponda a las id de las facturas 
de un cliente x */
    WHERE [Boleto].boleto_factura IN (SELECT [Factura].id
                                      FROM [Factura]
                                      WHERE [Factura].factura_cliente = @idCliente)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BoletosFuncion]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BoletosFuncion] @id as int
AS
BEGIN
    SELECT *
    FROM [dbo].[Boleto]
          WHERE Boleto.boleto_funcion = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BorrarClientes]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BorrarClientes] @id int
AS
BEGIN
    DELETE
    FROM Cliente
    OUTPUT 'ELIMINADO' AS 'RESPONSE'
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BorrarEmpleado]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BorrarEmpleado] @id int
AS
BEGIN
    DELETE
    FROM Empleado
    OUTPUT 'ELIMINADO' AS 'RESPONSE'
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BorrarFuncion]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BorrarFuncion] @id int
AS
BEGIN
    DELETE
    FROM Funcion
    OUTPUT 'ELIMINADO' AS 'RESPONSE'
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BorrarPelicula]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BorrarPelicula] @id int
AS
BEGIN
    DELETE
    FROM Pelicula
    OUTPUT 'ELIMINADO' AS 'RESPONSE'
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BorrarPeliculaCategoria]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BorrarPeliculaCategoria] @idPelicula int
AS
BEGIN
    DELETE
    FROM rel_Pelicula_Categoria
    WHERE id_Pelicula = @idPelicula
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BorrarTarjeta]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BorrarTarjeta] @id int
AS
BEGIN
    DELETE
    FROM [Tarjetas]
    OUTPUT 'ELIMINADO' AS 'RESPONSE'
    WHERE [Tarjetas].id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BorrarUsuario]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BorrarUsuario] @id int
AS
BEGIN
    DELETE
    FROM Usuario
    OUTPUT 'ELIMINADO' AS 'RESPONSE'
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarTarjetas]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BuscarTarjetas] @idCliente int
AS
BEGIN
    SET NOCOUNT ON;
    SELECT *
    FROM [dbo].[Tarjetas]
    WHERE @idCliente = [tarjeta_cliente]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CategoriasPelicula]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CategoriasPelicula] @id int
AS
BEGIN
    /* Selecciona el nombre de la categoria seg�n la id de pelicula indicado */

    SELECT relacion.id_Categoria as id, Categoria.nombre_categoria AS nombre_categoria
    FROM [dbo].[rel_Pelicula_Categoria] relacion
             INNER JOIN [dbo].[Categoria] categoria
                        ON categoria.id = relacion.id_Categoria
    WHERE relacion.id_Pelicula = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearBanco]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CrearBanco](
    @banco_nombre nvarchar(25)
)
AS
BEGIN
    INSERT INTO [Banco]
    OUTPUT inserted.id
    values (@banco_nombre, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearBoleto]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CrearBoleto] @boleto_factura int,
                                @boleto_funcion int,
                                @boleto_asiento nchar(5),
                                @boleto_tipo_asiento varchar(25)
AS
BEGIN
    INSERT INTO Boleto
    OUTPUT inserted.id
    VALUES (@boleto_factura, @boleto_funcion, @boleto_asiento, @boleto_tipo_asiento)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearCliente]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CrearCliente] @cliente_cedula varchar(50),
                                 @cliente_apellidos varchar(50),
                                 @cliente_nombres varchar(50),
                                 @cliente_telefono varchar(50),
                                 @cliente_email varchar(50),
                                 @cliente_direccion varchar(50),
                                 @cliente_usuario int
AS
BEGIN
    INSERT INTO [Cliente]
    OUTPUT inserted.id
    values (@cliente_cedula,
            @cliente_apellidos,
            @cliente_nombres,
            @cliente_telefono,
            @cliente_email,
            @cliente_direccion,
            @cliente_usuario)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearEmpleado]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CrearEmpleado] @empleado_nombres nvarchar(50),
                                  @empleado_cedula nvarchar(50),
                                  @empleado_apellidos nvarchar(50),
                                  @empleado_telefono nvarchar(50),
                                  @empleado_email nvarchar(50),
                                  @empleado_direccion nvarchar(50),
                                  @empleado_usuario int
AS
BEGIN
    INSERT INTO Empleado
    (empleado_nombres,
     empleado_cedula,
     empleado_apellidos,
     empleado_telefono,
     empleado_email,
     empleado_direccion,
     empleado_usuario)
    OUTPUT inserted.id
    VALUES (@empleado_nombres,
            @empleado_cedula,
            @empleado_apellidos,
            @empleado_telefono,
            @empleado_email,
            @empleado_direccion,
            @empleado_usuario)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearFactura]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CrearFactura] @factura_cliente int,
                                @factura_funcion int,
                                @factura_metodo_pago varchar(25),
                                @factura_fecha_emision date,
                                @factura_estado varchar(25)
AS
BEGIN

    DECLARE @factura_numero as int;
    SET @factura_numero = (SELECT COUNT(id) FROM Factura) + 1;
    INSERT INTO Factura
    OUTPUT inserted.id
    VALUES (@factura_cliente, @factura_funcion,@factura_numero,@factura_estado,@factura_metodo_pago,@factura_fecha_emision)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearFuncion]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CrearFuncion](
    @funcion_pelicula int,
    @funcion_sala int,
    @funcion_fecha_evento date,
    @funcion_horario int,
    @funcion_estado nvarchar(25),
    @funcion_precio_boleto decimal(18, 0),
    @funcion_fecha_creacion date,
    @funcion_idioma int,
    @funcion_asientos_disponibles int
)
AS
BEGIN
    INSERT INTO [Funcion]
    VALUES (@funcion_pelicula,
            @funcion_sala,
            @funcion_fecha_evento,
            @funcion_horario,
            @funcion_estado,
            @funcion_precio_boleto,
            @funcion_fecha_creacion,
            @funcion_idioma,
            @funcion_asientos_disponibles)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearHorario]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CrearHorario] @hora_inicio time(7),
                                 @hora_fin time(7)
AS
BEGIN
    INSERT INTO Horarios
    OUTPUT inserted.id
    values (@hora_inicio,
            @hora_fin)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearPelicula]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CrearPelicula] @pelicula_titulo nvarchar(50),
                                  @pelicula_titulo_original nvarchar(50),
                                  @pelicula_duracion nvarchar(50),
                                  @pelicula_tipo_censura nvarchar(50),
                                  @pelicula_sinopsis nvarchar(255),
                                  @pelicula_director nvarchar(50),
                                  @pelicula_reparto nvarchar(255),
                                  @pelicula_url_trailer nvarchar(255),
                                  @pelicula_imagen varbinary(max)
AS
BEGIN
    INSERT INTO [Pelicula]
    (pelicula_titulo,
     pelicula_titulo_original,
     pelicula_duracion,
     pelicula_tipo_censura,
     pelicula_sinopsis,
     pelicula_director,
     pelicula_reparto,
     pelicula_url_trailer,
     pelicula_imagen)
    OUTPUT inserted.id
    VALUES (@pelicula_titulo,
            @pelicula_titulo_original,
            @pelicula_duracion,
            @pelicula_tipo_censura,
            @pelicula_sinopsis,
            @pelicula_director,
            @pelicula_reparto,
            @pelicula_url_trailer,
            @pelicula_imagen)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearPeliculaCategoria]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CrearPeliculaCategoria] @id_Pelicula int,
                                           @id_Categoria int
AS
BEGIN
    INSERT INTO rel_Pelicula_Categoria
    VALUES (@id_Pelicula, @id_Categoria)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearTarjeta]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CrearTarjeta](
    @tarjeta_cliente int,
    @tarjeta_tipo nvarchar(25),
    @tarjeta_banco int,
    @tarjeta_numero nvarchar(50),
    @tarjeta_ccv nvarchar(3),
    @tarjeta_ano int,
    @tarjeta_mes nvarchar(50),
    @tarjeta_propietario nvarchar(50)
)
AS
BEGIN
    INSERT INTO [Tarjetas]
    (tarjeta_cliente,
     tarjeta_tipo,
     tarjeta_banco,
     tarjeta_numero,
     tarjeta_ccv,
     tarjeta_ano,
     tarjeta_mes,
     tarjeta_propietario)
    OUTPUT inserted.id
    values (@tarjeta_cliente,
            @tarjeta_tipo,
            @tarjeta_banco,
            @tarjeta_numero,
            @tarjeta_ccv,
            @tarjeta_ano,
            @tarjeta_mes,
            @tarjeta_propietario)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearUsuario]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CrearUsuario] @usuario_username varchar(25),
                                 @usuario_password varchar(25),
                                 @usuario_perfil int
AS
BEGIN
    INSERT INTO [Usuario]
    OUTPUT inserted.id
    values (@usuario_username,
            @usuario_password,
            @usuario_perfil)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FuncionesActivas]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FuncionesActivas]
AS
BEGIN
    SELECT *
    FROM [dbo].[Vista_FuncionesActivas]
    WHERE funcion_estado = 'ACTIVO'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBanco]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_GetBanco] @id int
AS
BEGIN
    SELECT *
    FROM dbo.Banco
    WHERE Banco.id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCategoria]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetCategoria] @id int
AS
BEGIN
    SELECT *
    FROM [dbo].Categoria
    WHERE [dbo].Categoria.id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmpleado]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetEmpleado] @id int
AS
BEGIN
    SELECT *
    FROM dbo.Empleado
    WHERE Empleado.id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmpresa]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetEmpresa] @id int
AS
BEGIN
    SELECT *
    FROM dbo.Empresa
    WHERE Empresa.id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUsuario]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetUsuario] @id int
AS
BEGIN
    SELECT *
    FROM Usuario
    WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IdiomasPelicula]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IdiomasPelicula] @id int
AS
BEGIN
    SELECT

/* Selecciona el listado de idiomas para la pelicula especificada */

        idioma.idioma_abreviatura
    FROM [dbo].[Funcion] funcion
             INNER JOIN [dbo].[Idiomas] idioma
                        ON idioma.id = funcion.funcion_idioma
    WHERE funcion.funcion_pelicula = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IniciarSesionCliente]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IniciarSesionCliente] @usuario_username varchar(25),
                                         @usuario_password varchar(25)
AS
BEGIN
    SELECT *
    FROM [dbo].[Cliente] cliente

/*Subconsulta a tabla de usuarios*/
    WHERE cliente.[cliente_usuario] = (SELECT [dbo].[Usuario].[id]
                                       FROM [dbo].[Usuario]
                                       WHERE [usuario_username] = @usuario_username
                                         AND [usuario_password] = @usuario_password)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IniciarSesionEmpleado]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IniciarSesionEmpleado] @usuario_username varchar(25),
                                          @usuario_password varchar(25)
AS
BEGIN
    SELECT *
    FROM [dbo].[Empleado] empleado

/*Subconsulta a tabla de usuarios*/
    WHERE empleado.[empleado_usuario] = (SELECT [dbo].[Usuario].[id]
                                         FROM [dbo].[Usuario]
                                         WHERE [usuario_username] = @usuario_username
                                           AND [usuario_password] = @usuario_password)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarCategorias]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarCategorias]
AS
BEGIN
    SELECT * FROM Categoria
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarCliente]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarCliente]
AS
BEGIN
    SELECT * FROM dbo.Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarEmpleado]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarEmpleado]
AS
BEGIN
    SELECT * FROM dbo.Empleado
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarHorarios]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarHorarios]
AS
BEGIN
    SELECT *
    FROM [dbo].[Horarios]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarIdiomas]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarIdiomas]
AS
BEGIN
    SELECT * FROM Idiomas
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarPeliculaCategoria]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarPeliculaCategoria] @idPelicula int
AS
BEGIN
    SELECT *
    FROM rel_Pelicula_Categoria
    WHERE id_Pelicula = @idPelicula
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarPeliculas]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarPeliculas]
AS
BEGIN
    SELECT *
    FROM [dbo].[Pelicula]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarPeliculasP]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarPeliculasP]
AS
BEGIN
    SELECT *
    FROM V_PeliculaP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarSala]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarSala]
AS
BEGIN
    SELECT * FROM Sala_Cine
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarUsuario]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarUsuario]
AS
BEGIN
    SELECT * FROM Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarUsuarios]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarUsuarios]
AS
BEGIN
    SELECT * FROM Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerBoletosFacturaGeneral]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerBoletosFacturaGeneral]
AS
BEGIN
    DECLARE @cantBoletos int;
    DECLARE @asientos varchar(MAX);

    SET @cantBoletos =
            (SELECT COUNT(*)
             FROM Boleto AS B)

    SET @asientos =
            (SELECT STRING_AGG(B.boleto_asiento, ', ')
             FROM Boleto AS B)

    SELECT @cantBoletos                                            AS 'cantidad',
           @asientos                                               AS 'asientos',
           ('Boleto de tipo ' + Boleto.boleto_tipo_asiento + ', para la funcion de ' +
            Pelicula.pelicula_titulo)                              AS 'concepto',
           Funcion.funcion_precio_boleto                           AS 'precio_unitario',
           (Funcion.funcion_precio_boleto * @cantBoletos)          AS 'importe',
           (Funcion.funcion_precio_boleto * @cantBoletos * 0.12)   AS 'iva',
           ((Funcion.funcion_precio_boleto * @cantBoletos) +
            (Funcion.funcion_precio_boleto * @cantBoletos * 0.12)) AS 'total'

    FROM Boleto
             INNER JOIN Factura ON Boleto.boleto_factura = Factura.id
             INNER JOIN Funcion ON Factura.factura_funcion = Funcion.id
             INNER JOIN Pelicula ON Funcion.funcion_pelicula = Pelicula.id

    GROUP BY Factura.id,
             Boleto.boleto_funcion,
             Boleto.boleto_tipo_asiento,
             Funcion.funcion_precio_boleto,
             Pelicula.pelicula_titulo
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerCategorias]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerCategorias] @idPelicula as int
AS
BEGIN
    SELECT STRING_AGG(CONVERT(NVARCHAR(max), nombre_categoria),
                      ', ') AS categorias
    FROM (SELECT Categoria.nombre_categoria
          FROM [dbo].[rel_Pelicula_Categoria]
                   inner join Categoria on Categoria.id = rel_Pelicula_Categoria.id_Categoria
          WHERE id_Pelicula = @idPelicula) as cat
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerFacturaDatosGeneral]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerFacturaDatosGeneral]
AS
BEGIN
    SELECT * FROM Vista_FacturaDatos
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VistaFacturasCliente]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_VistaFacturasCliente] @id as int
AS
BEGIN
    SELECT F.*,
           (SELECT COUNT(*) FROM Boleto B WHERE B.boleto_factura = F.id) AS 'numero_boletos'
    FROM Vista_FacturaFuncion F
    WHERE F.factura_cliente = @id
    ORDER BY F.id DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VistaFacturasClienteAdmin]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_VistaFacturasClienteAdmin]
AS
BEGIN
    SELECT F.*,
           (SELECT COUNT(*) FROM Boleto B WHERE B.boleto_factura = F.id) AS 'numero_boletos'
    FROM Vista_FacturaAdmin F
    ORDER BY F.factura_fecha_emision DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VistaFunciones]    Script Date: 22/1/2023 23:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_VistaFunciones]
AS
BEGIN
    SELECT * FROM Vista_FuncionesActivas
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Funcion"
            Begin Extent = 
               Top = 53
               Left = 339
               Bottom = 183
               Right = 598
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Pelicula"
            Begin Extent = 
               Top = 49
               Left = 956
               Bottom = 327
               Right = 1180
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Idiomas"
            Begin Extent = 
               Top = 204
               Left = 71
               Bottom = 317
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Sala_Cine"
            Begin Extent = 
               Top = 132
               Left = 681
               Bottom = 245
               Right = 913
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Horarios"
            Begin Extent = 
               Top = 267
               Left = 679
               Bottom = 380
               Right = 865
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vista_FuncionesActivas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vista_FuncionesActivas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vista_FuncionesActivas'
GO
USE [master]
GO
